
<nz-tabset
style="height: 100%;"
>
  <nz-tab nzTitle="播放数前233">
    <app-table [conn]="'v_view'"></app-table>
  </nz-tab>
  <nz-tab nzTitle="弹幕数前233">
    <app-table [conn]="'v_danmaku'"></app-table>
  </nz-tab>
  <nz-tab nzTitle="评论数前233">
    <app-table [conn]="'v_reply'"></app-table>
  </nz-tab>
  <nz-tab nzTitle="收藏数前233">
    <app-table [conn]="'v_favorite'"></app-table>
  </nz-tab>
  <nz-tab nzTitle="硬币数前233">
    <app-table [conn]="'v_coin'"></app-table>
  </nz-tab>
  <nz-tab nzTitle="分享数前233">
    <app-table [conn]="'v_share'"></app-table>
  </nz-tab>
</nz-tabset>
